<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="/Home/Index">Anasayfa</a>
    <a href="/Home/About">Hakkımızda</a>
    <a href="/Home/Contact">İletişim</a>
    <a href="/Admin/Index">AdminPanel</a>

    <div>
        @RenderBody()
    </div>
</body>
</html>
