<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="/Admin/Index">Admin Anasayfa</a>
    <a href="/Admin/Islem">Islem</a>
    <a href="/Admin/Mail">Mail yonetimi</a>
    <a href="/Home/Index">Anasayfa</a>

    <div>
        @RenderBody()
    </div>
</body>
</html>
